@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

html {
  scroll-behavior: smooth;
}

.portfolio-img img{
  padding: 5px;
}

.experience-box h3{
  margin-top: 25%;
}

.experience-user{
  margin-top: 3%;
}

.experience-box {
  margin-bottom: 15%;
}

.portfolio-box{
  height: 100%;
}

.portfolio-box .portfolio-info i{
  margin-top: 30%;
  margin-left: 30%;
  text-align: center;
}
.portfolio-box .portfolio-info a{
  display: none;
   transition: all 4s;
}

.portfolio-box .portfolio-info {  
   transition: all 4s;
}

.portfolio-box .portfolio-info:hover a{
  display: block;
 
}

.portfolio-box .portfolio-info a {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease, visibility 0.9s ease;
}

.portfolio-box .portfolio-info:hover a {
  opacity: 1;
  visibility: visible;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  /* max-height: 392px; */
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  /* max-width: 400px !important; */
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

.contact-form .form-group .form-control.invalid {
  border-color: #ff0000;
}
